body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #000;
}

.radar {
    width: 150px;
    height: 150px;
    border: 2px solid #3c11da;
    border-radius: 50%;
    position: relative;
    animation: rotate 5s linear infinite; 
}

.pulso {
    width: 100%;
    height: 100%;
    border: 2px solid #cd11df;
    border-radius: 50%;
    position: absolute;
    animation: pulse 0.9s ease-out infinite;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes pulse {
    0% {
        transform: scale(0.5);
        opacity: 1;
    }

    100% {
        transform: scale(1.2);
        opacity: 0;
    }
}
